@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto Condensed;
	color: black;
}

.navbar_ {
	z-index: 1;
	width: 100%;
    background-color: yellow;
    display: block;
	float: left;
	text-decoration: none;
	position: fixed;
	font-size: 23px;
	padding: 0 50px;
	color: black;
}

.navbar_ .icon_ .icon__ {
	display: block;
	text-decoration: none;
	float: left;
	margin: 22px;
	font-family: 'Inconsolata', monospace;
	margin-right: 45px;
	color: black;
}

.navbar_ .menu_ a{
	display: block;
	float: left;
    text-decoration: none;
	color: black;
	padding: 20px;
	transition: .2s;
}

.navbar_ .menu_ a:hover {
	border-bottom: 4px solid black;
}

.navbar_ .menu_ #gioithieu__ {
	border-bottom: 4px solid black;
}

.navbar_ .user_ a {
	display: block;
	text-decoration: none;
	float: right;
	padding: 20px;
	transition: .2s;
	color: black;
}

.navbar_ .user_ a:hover {
	border-bottom: 4px solid black;
}

.gioithieu_ {
	margin: 50px;
	text-align: center;
}

.review_  {
	font-size: 20px;
}

.iconmedia_ {
	font-size: 30px;
	padding: 0 10px;
}

#toggle {
	display: none;
}
