@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

@media screen and (min-width: 601px) and (max-width: 1023px) {
	*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto Condensed;
	color: black;
}

.navbar_ {
	z-index: 1;
	width: 100%;
    background-color: yellow;
    display: block;
	float: left;
	text-decoration: none;
	position: fixed;
	font-size: 23px;
	padding: 0 50px;
	color: black;
}

.navbar_ .icon_ .icon__ {
	display: block;
	text-decoration: none;
	float: left;
	margin: 22px;
	font-family: 'Inconsolata', monospace;
	margin-right: 45px;
	color: black;
}

.navbar_ .menu_ a{
  	display: block;  
  	flex-direction: column;
  	text-decoration: none;
	color: black;
	padding: 20px;
	transition: .2s;
  	text-align: center;
}



.navbar_ .menu_ a:hover {
	font-size: 30px;
  text-decoration: underline;
}



.navbar_ .menu_ #gioithieu__ {
	font-size: 30px;
  text-decoration: underline;
}

.navbar_ .menu_ {
  	border-bottom: 2px solid black;
}

.navbar_ .user_ a {
	display: block;
	text-decoration: none;
	padding: 20px;
	transition: .2s;
	color: black;
  	flex-direction: column;
  	text-align: center;
}

.navbar_ .user_ a:hover {
	font-size: 30px;
}

.booking_ {
	padding: 50px;
}

.gioithieu_ {
  margin: 50px;
  text-align: center;
}

.review_  {
  font-size: 20px;
}

.iconmedia_ {
  font-size: 30px;
  padding: 0 10px;
}

#toggle {
  display: block;
  font-size: 25px;
  text-align: right;
  margin: 22px;
  cursor: pointer;
}

.slidedown_ {
  display: none;
}


}